{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Add Post {% endblock %}

{% block content %}

<div class="container">
	<div class="row">
        <div class="col-md-6 offset-3 py-5">
            <h1 class="text-center">Add Post</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Add Post</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}