{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Contact Form {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
        <div class="col-md-6 offset-3 py-5">
            <h1 class="text-center">Contact Us</h1>
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}